body{
    background: none;
}
.container{
    width: 700px;
    height:413px;
    display: block;
    margin: auto;
    margin-top: 200px;
    border: 1px solid gray;
    font-family: "Gill Sans", sans-serif;
}
.message-error{
    width: 675px;
    height: 25px;
    background:pink;
    margin: auto;
    margin-top: -15px;
    border-radius: 3px;
}
.form-header{
    width: 700px;
    height: 30px;
    display: block;
    margin: auto;
    border: 1px solid gray;
    background: gainsboro;
}

.form-container{
    width: 700px;
    height: 300;
    display: grid;
    margin-top: ;
}
h2{
    padding-left: 10px;
    padding-top: 5px;
    margin-top: -1px;
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
}

.form-footer{
    width: 700px;
    height: 30px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    border: 1px solid gray;
    background: gainsboro;
    
}

h6{
    color:brown;
    padding-left: 10px;
    padding-top: 7px;
}
.cancel{
    background: rgb(124, 131, 164) ;
    color: white;
    border: none;
    font-weight: bold;
    height: 25px;
    margin-top: 1.75px;
    border-radius: 2px;
   margin-left: 550px;
   font-family: "Gill Sans", sans-serif;
    font-size: 16px;
}
.send{
    background: rgb(16, 51, 225) ;
    color: rgb(220, 220, 220);
    border: none;
    font-weight: bold;
    height: 25px;
    margin-top: 1.75px;
    border-radius: 2px;
    margin-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
}

.date{
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.card-number{
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.card{
    border-radius: 3px;
    width: 300px;
}
.cvc-number{
    margin-top: -35px;
    padding-left: 350px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}

.cvc{
    border-radius: 3px;
    width: 130px;
}

.amount{
    margin-top: -35px;
    padding-left: 500px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.amount2{
    border-radius: 3px;
}
.first-name{
    margin-top: 15px;
    padding-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.f-name{
    width: 300px;
    border-radius: 3px;
}

.last-name{
    margin-top: -35px;
    padding-left: 350px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
   
}
.l-name{
    width: 325px;
    border-radius: 3px;
}

.row3{
    display: flex;
}

.city{
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
    
}

.state{
    margin-top: 10px;
    padding-left: 30px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.state2{
    border-radius: 3px;
}
.city2{
    width: 300px;
    border-radius: 3px;
}

.postal-code{
    margin-top: 10px;
    padding-left: 20px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.pcode{
    width: 165px;
    border-radius: 3px;
}
.row4{
    display: flex;
    margin-top: 10px;
}
.row5{
    display: flex;
    margin-top: 5px;
}
.message{
    margin-top: 10px;
    padding-left: 265px;
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
}
.text-message{
    width: 325px;
    height: 70px;
    margin-left: 160px;
    border-radius: 5px;
}
.text-accept{
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Gill Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.type-card{
    width: 180px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    background: rgb(126, 120, 120);
    border-radius: 5px;
}

.info-card{
    display: flex;
    margin-top: 10px;
}

.add-note{
    font-family: "Gill Sans", sans-serif;
    font-size: 12px;
    margin-left: 160px; ;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }